section{
    
    background-color: rgb(119, 0, 255);
    width: 300px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 5px 10px black;
    border-radius: 10px;
    text-align: center;
   
}
header{
    color: rgb(139, 0, 19);
    text-align: center;
}
footer{
    color: black;
    text-align: center;
    font-style: italic;
    
}div{
   
    color: black;
}input{
    background: rgb(19, 150, 19);
}
