
.jog{
    background-color:#612983;
    text-align: center;
    width: 300px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 5px 10px black;
    border-radius: 10px;
}
.bot{
    background-color:#612983;
    text-align:center;
    width: 300px;
    margin: auto;
    padding: 15px;
    border-radius: 10px;
}
header{
    color: white;
    text-align: center;
}
div{
   
    color: rgb(250, 250, 250);
}input{
    background: rgb(255, 255, 255);
}

.tatu{
    text-align: right;
}

body{
    background-color:#005C53 ;
     
}
footer{
    position: absolute; /* */
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
}